[submodule "bls12381-lib/lib/forge-std"]
	path = bls12381-lib/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "bls12381-plonk-verifier/lib/forge-std"]
	path = bls12381-plonk-verifier/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "bls12381-lib/lib/openzeppelin-contracts"]
	path = bls12381-lib/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "bls12381-lib/lib/eigenlayer-middleware"]
	path = bls12381-lib/lib/eigenlayer-middleware
	url = https://github.com/Layr-Labs/eigenlayer-middleware
[submodule "validate-beacon-sig-on-chain-poc/lib/forge-std"]
	path = validate-beacon-sig-on-chain-poc/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
